/* ============================== MAIN STYLE ============================= */

body{
    color:#323232
    font: 100%/1.5 "Helvetica Neue" , Arial, Helvetica, sans-serif;
    line-height: 1.5;
    max-width: 790px;
    margin: 0 auto;
    background-image: url('../images/simplewhitebg.jpg')
       
}  

  article {
   background-color: #5873da;
  -webkit-column-count: 2;
  -moz-border-radius: 5px;
   border-radius: 5px;
  -moz-box-shadow: 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px black;
   box-shadow: 5px 5px 5px black;
}
/* =============================== NAV BAR =============================== */

ol{
   width: 37.974684%;
   margin: 0 auto;
   background: #f00;
   list-style-type: none;
   padding: 0;
   overflow: hidden;
}

ol li{
    width: 100px;
    background: #f00;
    float: left;
}

ol li a{
     text-decoration; none;
     background: #e6e7ec;
     display: block;
     height: 30px;
     line-height: 30px;
     text-align: center;
}

ol li a:visited{
      color: 80cddd;
}

ol li a:hover{
      color: #80cddd;
      background: #5873da;
}

ol li a:active{
       color: #ffff;
}

h1,h2{
   text-shadow: 3px 3px 3px #111;
}

/* =============================== IMAGE GALLERY =============================== */

#gallery {
	padding: 2em 0;
	margin: 0 auto;
	width: 600px;
	font: small Verdana, sans-serif;
}

#gallery h2 {
	margin: 0;
	border-bottom: 1px solid #666;
}

#gallery #main {
	width: 100%;
	margin: 0;
	padding: 1em 0;
	list-style: none;
}

#gallery #main li p {
	margin: 0;
}


/* Positioning and initial formatting */

#gallery #main {
	padding-left: 20px;

}


#gallery #main li {
	float: left;
	width: 160px;
	margin: 0 40px 0 0;
}

#gallery #main li img {
	display: block;
	width: 100%;
}


/* Backgrounds and colors */

#gallery #main li {
	background: #def url("../images/Simplyblue.png") no-repeat top left;
	color: #333;
	margin-bottom: 0.5em;
}

#gallery #main li p {
	padding: 0.5em 1em;
}

#gallery #main li p.desc {
	background: transparent url("../images/Simplyblue.png") no-repeat bottom right;
	font-style: italic;
}
	

/* =============================== END GALLERY =============================== */
     
     
/* =Media Queries
=============================================================================== */
  
    /* Tablet Portrait Size to standard 960 (devices and brosers) */
     @media screen and {min-width: 768px) and (max-width: 959px)
     

	nav {
		position: static;
	}

	h1 {
		font-size: 99%;
	}

	h3, p, li {
		font-size: 98%;
	}


  
    /* Mobile Landscape Size to Tablet Portrait (devices and brosers) */
     @media screen and {min-width: 480px) and (max-width: 767px) {

	#tj_widescreen {
		width: 100%;
		clear: left;
	}

	#sheisme {
		clear: left;
	}

	#article {
		-moz-column-count: 2;
	}

	#div {
		width: 100%;
	}

	h2 {
		font-size: 99%;
	}

	h3, p, li {
		font-size: 97%;
	}


}
  
    /* Mobile Portrait Size to Mobile Landscape Size (devices and brosers) */
     @media screen and {max-width: 479px) {

    #tj_widescreen {
		display: none;
	}


	#sheisme {
		clear: left;
	}

	#div {
		width: 100%;
	}


	h2 {
		font-size: 99%;
	}

	h3, p, li {
		font-size: 96%;
	}



}

     